@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-style: normal;
}

body {
  height: 100vh;
  font-weight: bolder;
  
}

#back{
	 background-image: url(../../../resources/images/top-background.jpg);
  background-size: cover;
    background-position: center;
    position: absolute;
    left: 18%;
    top: 5%;
    width: 1100px;
    height: 83vh;
    border-radius: 20px;
    border-style:none;
}
#back_black{
	width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#pickUp {
	
	height: 240px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    left: 10%;
    top: -65%;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 55px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 1.4rem;
  width: 10%;
 color : white;
}

#ps {
  font-size: 0.7rem;
  position: relative;
  left: 160%;
  top: 26%;
  font-family: "Cafe24Oneprettynight";
	color : white; 
}

#pickUpTable {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 75px;
  grid-template-rows: 100px 100px 100px 200px;
  border: 2px solid black;
  border-radius: 20px;
  grid-auto-flow: column;
  font-family: "Cafe24Oneprettynight";
  padding: 35px;
  background-color : white;
  border-style:none;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 1.3rem;
}

input,
button,
textarea {
  margin-left: 20px;
  font-family: "Cafe24Oneprettynight";
  font-weight: bolder;
}

.id input,
.name input,
.phone input,
.collectDate input {
  height: 35%;
  width: 45%;
}

.addr input {
  width: 44%;
  height: 20%;
}

textarea {
  resize: none;
  width : 310px;
}

#postCode,
#roadAddress,
#detailAddress {
  margin-bottom: 20px;
}

#agree_check {
  font-family: "GangwonEdu_OTFBoldA";
    position: relative;
    top: -78px
}

#agree_text{
	font-size : 1rem;
	margin-bottom: 3px;
}

a {
  font-weight: 700;
  text-decoration-line: underline;
}


#button {
  background-color : black;
  color : white;
  width: 100px;
  height: 38px;
  border-style : none;
}

#button:hover{
	background-color : white;
	color : black;
	border : 1px solid black;
}

.pop_wrap {
  visibility: hidden;
  border: 1px solid black;
  position: fixed;
  top: 12%;
  left: 40%;
  box-sizing: border-box;
  width: 400px;
  height: 550px;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
}

.dsc {
  margin: 0px 0px;
}

.pop_inner {
  line-height: 23px;
  font-size: 13px;
  margin: 0 8px;
}

.btn_close {
  position: absolute;
  left: 40%;
}
