@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-style: normal;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	color: rgba(77, 107, 83);
	font-size:2.2rem;
	font-weight: bolder;
	margin-bottom: 20px;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35vh;
	width: 600px;
	border: 0.5px solid #c0c0c0;
	border-radius: 20px;
	margin: 20px;
}

form i{
	font-size: 1.3rem;
	color: gray;
}

.mb-3{
	width: 100%;
	margin-left: 0;
	display: flex;
}

form label{
	width: 40px;
	margin: auto;
	padding-left: 10px;
}

.col-sm-10 {
	padding: 0;
	width: calc(100% - 40px);
}

.col-sm-10 input{
	border-radius: 0;
	outline: none;
}

.loginform input:hover{
	cursor: pointer;
	border: rgba(52, 61, 51, 0.1);
	border-radius: 10px;
}

.loginform input:focus{
	outline: 0.7px solid rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.loginform input:not(.loginbutton){
	border: 0.7px solid rgba(77, 107, 83, 0.8);
	border-radius: 10px;
	padding-left: 10px;
}

.loginbutton:hover{
	outline: 2px solid rgba(77, 107, 83, 0.8);
	font-weight: bolder;
}

.loginbutton{
	border: 0.7px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin-left: 15px;
	background-color: rgba(138, 171, 145, 0.3);
}

.idpwd {
	height: 120px;
	width: 300px;
	display: flex;

	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.idpwd input {
	justify-content: space-between;
	width: 250px;
	height: 45px;
}

.loginbutton {
	height: 120px;
	width: 75px;
}
