main{
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

h1 {
	font-size: 2.3rem;
	font-weight:bolder;
	padding:20px;
}

form{
	display:flex;
	justify-content:center;
	align-items:center;
	height:35vh;
	width:600px;
	border:0.5px solid #c0c0c0;
	border-radius:20px;
	margin: 20px;
}

.idpwd{
	height:120px;
	width: 300px;
	display:flex;
	
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}

.idpwd input{
	justify-content: space-between;
	width: 250px;
	height: 45px;
}

.loginbutton{
	height: 120px;
	width: 75px;
}

#adminLogin{
	padding-top:150px;
	margin: 0 auto;
	height:100vh;
	width:800px;
}

#memberLogin{
	padding-top:150px;
	margin: 0 auto;
	height:100vh;
	width:800px;
}

h2{
	font-size:1.8rem;
	text-align:center;
	margin:50px;
}

#memberMenu{
	margin: 0 auto;
	width: 600px;
	height:300px;
}

#memberMenu a {
	margin: 0 auto;
	padding: 10px;	
	width: 150px;
	height: 150px;
	display:flex;
	justify-content:center;
	align-items:center;
	border: 1px solid #c0c0c0;
	border-radius: 50%;
}

#memberMenuOne{
	width:600px;
	height:150px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom: 25px;
}

#memberMenuTwo{
	width:600px;
	height:150px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#adminMenu{
	margin: 0 auto;
	width: 600px;
	height:300px;
}

#adminMenu a {
	margin: 0 auto;
	padding: 10px;	
	width: 150px;
	height: 150px;
	display:flex;
	justify-content:center;
	align-items:center;
	border: 1px solid #c0c0c0;
	border-radius: 50%;
}

#adminMenuOne{
	width:600px;
	height:150px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom: 25px;
}

#adminMenuTwo{
	width:600px;
	height:150px;
	display:flex;
	justify-content:center;
	align-items:center;
}