h1 {
	/*헤더를 위해 높이 맞추기*/
	padding-top:150px;
	font-size:2.5rem;
	font-weight:bolder;
	text-align:center;
	margin-bottom: 50px;
}

form {
	height: 485px;
	border: 1px solid #c0c0c0;
	border-radius:20px;
	width: 765px;
	margin: 0 auto;
}

form p{
	margin-bottom: 5px;
	font-weight: bolder;
}

form select{
	margin-bottom:15px;
}
#regist{
	height: 400px;
	display:flex;
	justify-content:center;
	align-items:center;
	width:660px;
	margin: 10px auto;
}

#registerOne{
	margin-top: 10px;
	display: flex;
	flex-direction:column;
	width: 350px;
	height: 360px;
	align-items:center;
	justify-content:space-evenly;
}

#registerTwo{
	display: flex;
	flex-direction:column;
	width: 350px;
	height: 360px;
	align-items:center;
	justify-content:space-evenly;
}

.addr{
	height: 80px;
	display:flex;	
	flex-direction:column;
	margin-bottom: 10px;
}

.addr input{
	width: 200px;
	margin-bottom: 10px;
}

.addrPost input{
	width: 97px;
	margin-bottom: 10px;
}

form span{
	color:white;
}
form input{
	width: 200px;
	height: 27px;
}
#submit{
	display:flex;
	align-items:center;
	justify-content:center;
}
#button{
	width: 140px;
	height:30px;
}
