main{
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

h2{
	font-size: 1.5rem;
	font-weight:bolder;
	padding:20px;
}

h2 p{
	color:red;
}

#desc{
	color:gray;
	margin-bottom: 30px;
}

form{
	border: 1px solid #c0c0c0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:35vh;
	width:600px;
}

form p {
	font-size: 1.1rem;
	margin: 15px;
}

form input{
	height: 50px;
	width: 300px;
	display:flex;
	margin: 15px;
}

#checkbutton{
	text-align:center;
}