main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1{
	text-align: center;
	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 27px;
}

span{
	color: red;
}