.star-rating .fas {
	color: #FFD700;
}

.star-rating .far {
	color: #CCCCCC;
}

.word .h1 {
	position: absolute;
	top: 460px;
	left: 35px;
	font-size: 4rem;
	font-style: italic;
	color: white;
	margin-left: 40px;
	animation: slide 1.8s;
}

@keyframes slide {
    from { left: -300px; }
    to { left: 35px; }
}

.container {
	padding-top: 20vh;
}

table {
	font-size: .9em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	width: 100%;
	border-collapse: collapse;
	border-radius: 15px;
	overflow: hidden;
	background-color: #FFFFFF;
	text-align: left;
}

table th, table td {
	vertical-align: middle;
	width: 16.66%;
}

.image-cell {
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
}

.image-cell img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	vertical-align: middle;
}

.table a:link, .table a:visited, .table a:active {
	text-decoration: none;
	color: #383636;
}

.table a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #383636;
}

body, #neck, .cover, .top, .main {
	width: 100%;
}

#neck {
	background-image: url(../../../resources/images/reviewbackground.jpg);
	background-size: cover;
	background-position: center;
	height: 85vh;
}

.cover {
	height: 100%;
	background-color: rgba(50, 36, 30, 0.6);
}

.top {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.writebtn {
	margin: 10px;
	text-align: center;
}

.main {
	background-color: rgb(229, 227, 219);
	height: 100vh;
}

.pagination {
	width: 550px;
	margin: 0 auto;
}

.pagination>li>a, .pagination>li>a:focus, .pagination>li>a:hover,
	.pagination>li>span:focus, .pagination>li>span:hover {
	background-color: white;
	color: #FFC107;
	border-color: #ddd;
}

.pagination>.active>a, .pagination>.active>a:hover {
	color: white;
	background-color: #FFC107 !Important;
	border: solid 1px #FFC107;
}