<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="collectMapper">

	<resultMap type="Collect" id="collectMap">
		<id property="orderNum" column="order_num"/>
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="postCode" column="post_code"/>
		<result property="roadAddress" column="road_address"/>
		<result property="detailAddress" column="detail_address"/>
		<result property="collectionDate" column="collection_date"/>
		<result property="doorPwd" column="door_pwd"/>
		<result property="request" column="request"/>
	</resultMap>

	<!-- insert -->
	<insert id="registerCollect" parameterType="Collect" useGeneratedKeys="true" keyProperty="orderNum" keyColumn="order_num">
		INSERT INTO collect(id, name, phone, post_code, road_address, detail_address, collection_date, door_pwd, request) 
		VALUES(#{id}, #{name}, #{phone}, #{postCode}, 
		#{roadAddress}, #{detailAddress}, #{collectionDate}, #{doorPwd}, #{request})
	</insert>
	
	<!-- select -->
	<select id="showAllCollect" resultMap="collectMap">
		SELECT * FROM collect
	</select>
	
	<!-- updage -->
	<update id="updateCollect" parameterType="Collect">
		UPDATE collect
		SET name=#{name}, phone=#{phone}, post_code=#{postCode}, road_address=#{roadAddress}
		, detail_address=#{detailAddress}, collection_date=#{collectionDate}, door_pwd=#{doorPwd}, request=#{request}
		WHERE id=#{id}
	</update>
	
	
	
</mapper>