<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="progMapper">
	<select id="searchOrderNum">
	SELECT orderNum
	FROM collect
	</select>

	<insert id="registerProg">
		INSERT INTO progress(order_num, prog)
		VALUES(#{orderNum}, '수거 신청 완료')
	</insert>
	
	<update id="progAdmin" parameterType="String">
		UPDATE progress
		SET prog=#{prog}
	</update>
</mapper>